
<div class="card">
  <div class="card-header">
    Add New Friend
  </div>
  <div class="card-body">
    <form (ngSubmit)='onSubmit()' #Form='ngForm'>
      <div class="form-group col-12">
        <label for="name">First Name</label>
        <input type="text" class="form-control" #propFirstName="ngModel" ngModel name="FirstName" required minlength="5">
        <span *ngIf="!propFirstName.valid && propFirstName.touched" class="error-block">
          <span *ngIf="propFirstName.errors.required">Please provide a First Name</span>
          <span *ngIf="propFirstName.errors.minlength">Name must be at least 5 characters</span>

        </span>
      </div>
      <div class="form-group col-12">
        <label for="name">Last Name</label>
        <input type="text" class="form-control" #propLastName="ngModel" ngModel name="LastName" required minlength="5">
        <span *ngIf="!propLastName.valid && propLastName.touched" class="error-block">
          <span *ngIf="propLastName.errors.required">Please provide a Last Name</span>
          <span *ngIf="propLastName.errors.minlength">Name must be at least 5 characters</span>
        </span>
      </div>
      <div class="form-group col-12">
        <button [disabled]='!Form.valid' type="submit" class="btn btn-primary mr-2">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
      </div>
    </form>
  </div>
</div>
