<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Add Friend
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">First Name</label>
            <input type="text" class="form-control" formControlName="firstName">
            <span *ngIf="!firstName.valid && (firstName.touched || userSubmitted)">Please provide a first name</span>
        </div>
        <div class="form-group col-12">
          <label for="name" class="form-label">Last Name</label>
          <input type="text" class="form-control" formControlName="lastName">
          <span *ngIf="!lastName.valid && (lastName.touched || userSubmitted)">Please provide a last name</span>
      </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span *ngIf="!email.valid && (email.touched || userSubmitted)" class ="error-block">
            <span *ngIf="email.hasError('required')">
              Please provide an email
            </span>
            <span *ngIf="email.hasError('email')">
              Please provide a valid email
            </span>
          </span>
        </div>
        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="mobile">
        </div>
        <div class="form-group col-12">
          <label for="mobile" class="form-label">Favorite Language</label>
          <input type="text" class="form-control" formControlName="favLang">
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
